.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #333;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(180, 101, 180);
  transform: translateY(-0.25em);
  transition: transfrom 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: plum;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}
